/* =========================
   HERO SECTION
========================= */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    padding: 100px 48px;
    background: linear-gradient(180deg, #f4f9ff, #ffffff);
    overflow: hidden;
}

.hero-content {
    max-width: 520px;
}

.hero-content h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0f172a;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-content h1 span {
    position: relative;
    color: #0A5C8F;
}

.hero-content h1 span::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);

    width: 110%;
    height: 12px;

    border: 4px solid #2563eb;
    border-color: #2563eb transparent transparent transparent;
    border-radius: 50%;

    pointer-events: none;
}

.hero-content p {
    font-size: 1.1rem;
    color: #3668ae;
    margin-bottom: 32px;
    line-height: 1.6;
}

.hero-actions {
    display: flex;
    gap: 16px;
}

.btn-primary {
    background-color: #2563eb;
    color: #ffffff;
    border: none;
    padding: 14px 32px;
    font-size: 1rem;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #1e40af;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(37, 99, 235, 0.25);
}

.hero-image img {
    max-width: 980px;
    width: 130%;
    
}

/* =========================
   ANIMACIONES
========================= */
.fade-left {
    opacity: 0;
    transform: translateX(-40px);
    animation: fadeLeft 1s ease forwards;
}

.fade-right {
    opacity: 0;
    transform: translateX(40px);
    animation: fadeRight 1s ease forwards;
}

@keyframes fadeLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 80px 20px;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-actions {
        justify-content: center;
    }
}